/* Menu-buttons design*/
button {
    background-color: transparent;
    border: none;
}

#toggleOpn {
    margin-left: auto;
    margin-right: 20px;
}

span {
    display: flex;
    margin: 5px;
    height: 3px;
    width: 25px;
    background-color: #bee4e7;
}

#close {
    flex-direction: column;
}

#span1 {
    transform: rotate(38deg);
}

#span2 {
    margin-top: -8px;
    transform: rotate(-38deg);
}

/* Navigation design */
nav {
    height: 100px;
    align-content: center;
    justify-self: right;
    margin-right: 20px;
}

ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
}

a {
    margin: 0px;
    padding: 41px 20px;
    color: #bee4e7;
    text-decoration: none;
}

.active {
    color: rgb(38, 39, 41);
    font-weight: 600;
    background-color: #bee4e7;
}

/* Screens under 640px */
@media screen and (max-width: 640px) {
    ul { flex-direction: column; }
    nav { justify-items: center; height: 450px; margin-right: 0px; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); background-color: rgb(19, 93, 116); }
    ul { padding: 0px; }
    a { padding: 41px 30px; }
    #close { padding: 20px; }
}