<!-- About website -->
<h1>Om webbplatsen</h1>
<p>Webbplatsen går ut på att använda Angular som ramverk. Därav bygger webbplatsen på komponenter.
    De gemensamma delar, såsom header och footer, har lagts direkt i app-component. En mapp för partials 
    har skapats som innehåller enstaka delar av webbsidorna, såsom huvudmenyn och ett "block" som kan läggas på olika sidor. 
    För komponenter för webbsidor har mappen pages skapats. 
</p>
<p>CSS har använts för styling. Generell styling, såsom typsnitt och styling för body, har lagts direkt i style.css. Mer specifik
    styling har lagts i respektive komponent.
</p>
<p>Installering och att komma igång med Angular var ganska smidigt. Men när man väl är igång är det många filer och mappar att hålla isär.
    Att arbeta med det när det är ett stort projekt lär bli ännu svårare att navigera bland alla filer. Å andra sidan är det väldigt lämpligt
    att arbeta med komponenter som man kan lägga till på olika sidor. Jag kan tänka mig att det med tiden känns lämpligt att använda, framförallt att
    TypeScripten i varje komponent är direkt kopplad till HTML-filen. Men nu när det är första gången jag testar Angular, är van vid DOM och mappar sorterade
    efter fil-typ känns det fortfarande lite komplicerat. 
</p>
